.App {
  text-align: center;
}
label {
  display: block;
  color: rgb(1, 1, 70);
  font-weight: bold;
}
input {
  background: #fff;
  color: #525865;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  font-family: inherit;
  font-size: 1em;
  line-height: 1.45;
  outline: none;
  padding: 0.6em 1.45em 0.7em;
  -webkit-transition: 0.18s ease-out;
  -moz-transition: 0.18s ease-out;
  -o-transition: 0.18s ease-out;
  transition: 0.18s ease-out;
}
input:hover {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.01);
}
input:focus {
  color: #4b515d;
  border: 1px solid #b8b6b6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01),
    0px 0px 8px rgba(0, 0, 0, 0.2);
}
::placeholder {
  color: cadetblue;
}
.error {
  color: red;
  font-weight: bold;
}
button {
  width: 20vw;
  height: 10vh;
  color: white;
  background-color: #2e2e2f;
  font-weight: bolder;
}
